/* PRIMARY */
/* NAV */
/* MAIN */

/* PRIMARY */
*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#ECEEF1;
}

/* NAV */
nav{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 10px 25px;
}
nav > div {
    display:flex;
    flex-direction:column;
}
nav  button {
    display: flex;
    padding: 9px 20px;
    border-radius: 4px;
    background-color: #0077C5;
    color: white;
    border: 1px solid black;
    align-items: baseline;
    margin-left: 10px;
}
nav  button i {
    margin-right: 10px;
}
nav div span{
    font-size:12px;
    margin:0 0 3px 3px;
    color:#717171
}
nav div a {
    color:#1689D0;
    font-size:12px;
}

/* MAIN */
main{
    max-width: 380px;
    margin: 25px auto;
}
main .title{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

main .links{
    display:flex;
    justify-content: center;
}

.links > img{
    margin-right: 5px;
}

main .login{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: white;
    color: #505050;
    padding: 30px 10px;
}
main .login .title h3{
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 4px 0;
}
main .paragraph {
    text-align:center;
}
main .paragraph p{
    font-size: 14px;
}
main .paragraph span{
    font-size: 12px;
    color:#1689D0;
}